---
import GreetingCard from '../components/GreetingCard.jsx';
---

<html lang="en">
  <head>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Greeting Card</title>
  </head>
  <body>
    <div>
    <GreetingCard client:only="react"/>
    </div>
  </body>
</html>
