---
import App from '../App.jsx';
---

<html lang="en">
  <head>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Greetings Card</title>
  </head>
  <body>
    <div>
      <App client:only="react" />
    </div>
  </body>
</html>
